<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="4294967295"  />
				</requestFiltering>
			</security>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Mcsg.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 9066E479-89C5-4B78-AF61-027B1ED5B060-->