<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NTada" value="https://pkgs.dev.azure.com/NTada/_packaging/NTada/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <NTada>
      <add key="Username" value="techsg@angelpj.com" />
      <add key="ClearTextPassword" value="7oftd2fyamllaet3vquucbiabirciwvjenlbveduklqjvfduxxta" />
    </NTada>
  </packageSourceCredentials>
</configuration>